.backArrow {
    position: absolute;
    top: 5vh;
    right: 5.75%;
    font-size: calc(1vh + 1vw);
    padding: 6px 15px;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.438);
    cursor: pointer;
    z-index: 10;
}

.visualizer__title {
    font-size: calc(2.25vh + 2.25vw);
    font-weight: 500;
}
.visualizer__para {
    font-size: calc(1.15vh + 1.15vw);
    text-align: justify;
    width: 77.75%;
    margin: 0 auto;
    color: #C4C4C4;
    margin-top: 2.5vh;
    line-height: 5vh;
}
.visualizer__legend {
    width: 77.75%;
    margin: 0 auto;
    margin-top: 7vh;
}
.visualizer__legend__title {
    font-size: calc(1.45vh + 1.45vw);
    font-weight: 500;
    text-align: left;
    margin-bottom: 3vh;
}
.visualizer__legend__item__row {
    display: flex;
    margin: 2.5vh auto;
}
.visualizer__legend__item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.visualizer__legend__item__color {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: aqua;
    margin-right: 15px;
}
.visualizer__legend__item__text {
    font-size: calc(1.15vh + 1.15vw);
    color: #C4C4C4;
}